<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input name ="username" type='text' ng-model='user.username' ng-minlegth="3">
    <input name ="password" type="password" ng-model='user.password' ng-minlength="8">
    <button ng-disabled="signupForm.$invalid || signupForm.$pristine" class="help-block">signup</button>
    <p ng-show="signupForm.username.$invalid || signupForm.username.$pristine" class="help-block">Username needs to be at least 3 characters</p>
    <p ng-show="signupForm.password.$invalid || signupForm.password.$pristine" class="help-block">Password needs to be at least 8 characters</p>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
